.caja {
  display: flex;
  flex-direction: column;
  background-color: $bg-caja;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 2rem;
}

.back {
  background-color: white;
  opacity: 80%;
  color: black;
}
